@tailwind base;
@tailwind components;
@tailwind utilities;


/* ============================
   Whitney font family (WOFF)
   ============================ */
@font-face {
  font-family: "Whitney";
  src: url("/public/fonts/Whitney-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Whitney";
  src: url("/public/fonts/Whitney-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Whitney";
  src: url("/public/fonts/Whitney-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Whitney";
  src: url("/public/fonts/Whitney-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Whitney";
  src: url("/public/fonts/Whitney-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global font variable + defaults */
:root {
  --ahr-font: "Whitney", sans-serif;
}

@layer base {
  html {
    font-family: var(--ahr-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  /* Improve image rendering defaults */
  img, svg, video, canvas {
    image-rendering: auto;
  }
}